[submodule "SuperGenius"]
	path = SuperGenius
	url = ssh://git@gitlab.geniusventures.io:8487/GeniusVentures/supergenius.git
[submodule "pay-channel-eth"]
	path = pay-channel-eth
	url = ssh://git@gitlab.geniusventures.io:8487/GeniusVentures/pay-channel-eth.git
[submodule "thirdparty/celer-network/pb3-gen-sol"]
	path = thirdparty/celer-network/pb3-gen-sol
	url = https://github.com/celer-network/pb3-gen-sol.git
[submodule "GeniusWallet"]
	path = GeniusWallet
	url = ssh://git@gitlab.geniusventures.io:8487/GeniusVentures/GeniusWallet.git
[submodule "GeniusSDK"]
	path = GeniusSDK
	url = ssh://git@gitlab.geniusventures.io:8487/GeniusVentures/GeniusSDK.git
[submodule "CMake.build"]
        path = CMake.build
        url = https://github.com/psiha/build.git

